body {
  font: 1em sans-serif;
  text-align: center;
}

.stage {
  border-bottom: 3px solid #444;
  display: flex;
  height: 300px;
  width: 100%;
}

.box {
  align-self: flex-end;
  /* animation-duration: 7s; */
  animation-iteration-count: infinite;
  background-color: #ad8380;

  height: 40px;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
  width: 100px;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: linear;
  animation-delay: 0s;
}

@keyframes bounce-1 {
  0%,
  100% {
    transform: translateY(0);
    transform: translateX(0);
  }
  25% {
    transform: translateY(-250px) translateX(48%);
  }
  50% {
    transform: translateY(0%) translateX(55%);
  }
  75% {
    transform: translateY(-200px) translateX(-20%);
  }
}

@keyframes spin {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  50% {
    transform: translate3d(0, 100%, 0);
  }
  100% {
    transform: translate3d(0, -100%, 0);
  }
}
